
### Linux ###
*~

.fuse_hidden*

.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

.nfs*

*.o
*.x
*.xyz
*.cube
*.cub
*.log
*.dat 

garbage*
input*
*.x

# new add
.vscode/
file.in
*.sh
